.experienceContainer {
  padding: 9.6rem;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 9.6rem;
}

.sectionTitle h1 {
  text-transform: uppercase;
  font-size: 4.8rem;
  padding-right: 1.2rem;
}

.workIcon {
  font-size: 3.6rem;
}

.year {
  font-weight: bold;
  font-size: 3.6rem;
  justify-self: right;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.yearRight {
  font-weight: bold;
  font-size: 3.6rem;
  justify-self: left;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.experienceList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.2rem;
}

.workExperience {
  padding: 3.2rem;
  background-color: #d8b6a4;
  border-radius: 0.6rem;
  position: relative;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.workExperience::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: 1.6rem;
  transform: translateX(-4.8rem);
  border: medium solid #d8b6a4;
  border-width: 1.6rem 1.6rem 1.6rem 0;
  border-color: transparent #d8b6a4 transparent transparent;
}

.workExperienceEven {
  padding: 3.2rem;
  background-color: #630000;
  color: #ddd;
  border-radius: 0.6rem;
  position: relative;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.workExperienceEven::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: 1.6rem;
  right: 0;
  transform: translateX(1.6rem);
  border: medium solid #000;
  border-width: 1.6rem 0rem 1.6rem 1.6rem;
  border-color: transparent transparent transparent #630000;
}

.workExperience h1,
.workExperienceEven h1 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.workDescription {
  line-height: 1.4;
  margin-bottom: 2.8rem;
}

.technologies {
  margin-bottom: 1.6rem;
}

.lineDivider {
  margin-bottom: 1.2rem;
}
