/* COLOUR PALETTE:
Eggshell: #f8f4e3
Timberwolf: #d4cdc3
Timberwolf: #d5d0cd
Artichoke: #a2a392
Spanish Gray: #9a998c
*/

/* NEW COLOUR PALETTE:
#EEEBDD
#D8B6A4
#630000
*/

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  background-color: #eeebdd;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
